<nav class="medium-8 columns hide-for-small" data-sly-use.pageSections="com.mirum.laureate.content.ListPageSectionLabels">
	<div class="row collapse">
		<div class="medium-12 columns">
			<a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" id="course-title"
				data-sly-include="course-title.html">
			</a>
		</div>
	</div>
    <div class="row collapse">
        <div class="medium-12 columns">
            <ul class="inline-list hide-for-print week-navigation">
                <li>
                	<label>${pageSections.firstPageSectionLabel.label}</label>
                </li>
                <li> <a href="#introduction" data-magellan-arrival="introduction"> ${'Introduction' @ i18n, locale=pageSections.assumedSiteLanguage}</a> </li>
                <sly data-sly-list.pageSectionLabel="${pageSections.pageSectionLabels}">
					<li><a href="#${pageSectionLabel.id}" data-magellan-arrival="${pageSectionLabel.id}">
						${pageSectionLabel.label}
						</a>
					</li>
                </sly>
            </ul>
        </div>
    </div>
</nav>