<sly data-sly-use.pageSectionBean="com.mirum.laureate.content.PageSectionLabel">
    <hr data-sly-test="${!pageSectionBean.isFirst}" class="section-break ${pageSectionBean.colour}" />
    <h1 id="${pageSectionBean.pageSectionBean.id}" class="purple">${pageSectionBean.pageSectionBean.label}</h1>
   	<sly data-sly-resource="${'page-section-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    <div class="template-area">
    	By the way, we're using template: ${pageSectionBean.template}
    </div>
</sly>