<script type="text/javascript" src="https://kalmedia.laureate.net/emb/player/js/jquery.min.js"></script>
<script type="text/javascript" src="https://kalmedia.laureate.net/emb/player/js/kaltura-custom.js" data-skin-name="walden"></script>

<sly data-sly-use.video="com.mirum.laureate.content.VideoPojo">
    <div class="kal-group" data-name='${resource["entryId"]}'>
        <div  class="player" style="width:520px;height:295px">
    		<!-- MAKE SURE THAT A NON-EMPTY LINE (LIKE BELOW) EXISTS INSIDE THIS DIV TAG (Or else, Blackboard's VTBE deletes empty DIV tags) -->
        &nbsp;
        </div>
        <div class="controls">
            <button type="button" class="playerToggler btn btn-inverse" data-toggle="button" data-toggled-text="Default player">Accessible player</button>
        </div>
    </div>
</sly>