<nav class="medium-8 columns hide-for-small" data-sly-use.courseSections="com.mirum.laureate.content.ListCourseSectionLabels">
	<div class="row collapse">
		<div class="medium-12 columns">
			<a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" id="course-title">
				NURS 6001: <em>Foundations of Graduate Study</em>
			</a>
		</div>
	</div>
    <div class="row collapse">
        <div class="medium-12 columns">
            <ul class="inline-list hide-for-print week-navigation">
                <li>
                	<label>Course Information</label>
                </li>
                <li> <a href="#introduction" data-magellan-arrival="introduction"> Introduction</a> </li>
                <sly data-sly-list.courseSectionLabel="${courseSections.courseSectionLabels}">
					<li><a href="#${courseSectionLabel.id}" data-magellan-arrival="${courseSectionLabel.id}">
						${courseSectionLabel.label}
					</a></li>
                </sly>
            </ul>
        </div>
    </div>
</nav>