<nav class="medium-8 columns hide-for-small">
                <div class="row collapse">
                  <div class="medium-12 columns"> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" id="course-title"> NURS 6001: <em>Foundations of Graduate Study</em> </a> </div>
                </div>
                <div class="row collapse">
                  <div class="medium-12 columns">
                    <ul class="inline-list hide-for-print week-navigation">
                      <li>
                        <label>Course Information</label>
                      </li>
                      <li> <a href="#introduction" data-magellan-arrival="introduction"> Introduction</a> </li>
                      <li> <a href="#academic" data-magellan-arrival="academic"> Academic Integrity </a> </li>
                      <li> <a href="#docSharing" data-magellan-arrival="docSharing"> Doc Sharing </a> </li>
                      <li> <a href="#webliography" data-magellan-arrival="webliography"> Webliography </a> </li>
                    </ul>
                  </div>
                </div>
              </nav>