<%--

  Laureate Contentpage Component component.

  Main page template component for Laureate LMS project

--%><%
%><%@include file="/libs/foundation/global.jsp"%><%
%><%@page session="false" %><%
%><%
	// TODO add you code here
%><body class="course USW1-NURS-6001">
    <div class="container off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header class="main">
          <div  data-magellan-expedition="fixed">
            <div class="row small-uncollapse medium-uncollapse large-collapse" id="course-navigation">
              <nav class="small-3 medium-3 columns">
                <h1 class="show-for-small hide-for-print"> <img src="./img/logo-walden-university-sm-white.png" id="logo-sm" alt="Walden University"> </h1>
                <h3 class="hide-for-small"> <img src="./img/logo-walden-university-white.png" alt="Walden University" id="logo" class="hide-for-print"> <span class="print-only">Walden University</span> </h3>
              </nav>
              <nav class="medium-8 columns hide-for-small">
                <div class="row collapse">
                  <div class="medium-12 columns"> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" id="course-title"> NURS 6001: <em>Foundations of Graduate Study</em> </a> </div>
                </div>
                <div class="row collapse">
                  <div class="medium-12 columns">
                    <ul class="inline-list hide-for-print week-navigation">
                      <li>
                        <label>Course Information</label>
                      </li>
                      <li> <a href="#introduction" data-magellan-arrival="introduction"> Introduction</a> </li>
                      <li> <a href="#academic" data-magellan-arrival="academic"> Academic Integrity </a> </li>
                      <li> <a href="#docSharing" data-magellan-arrival="docSharing"> Doc Sharing </a> </li>
                      <li> <a href="#webliography" data-magellan-arrival="webliography"> Webliography </a> </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <nav class="small-2 medium-1 small-text-center columns hide-for-print"> <a href="#menu" role="button" class="right-off-canvas-toggle">☰ <span>Menu</span></a> </nav>
            </div>
          </div>
          <nav class="right-off-canvas-menu" id="menu">
            <ul class="side-nav header text-right menu-exit">
              <li><span class="right-off-canvas-toggle">×</span> </li>
            </ul>
            <ul class="side-nav header">
              <li> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)"> NURS 6001: <em>Foundations of Graduate Study</em> </a> </li>
            </ul>
            <ul class="side-nav primary">
              <li> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" class="back-to-class-home"> Back to Blackboard </a> </li>
            </ul>
            <ul class="side-nav primary">
              <li> <a href="USW1_NURS_6001_syllabus.html" class="nav-link"> Syllabus </a> </li>
              <li> <a href="#disabled" onclick="ActivateLink('Calendar','BBWindow', this)" class="nav-link"> Course Calendar </a> </li>
              <li> <a href="USW1_NURS_6001_courseOverview.html" class="nav-link"> Course Overview </a></li>
              <li> <a href="USW1_NURS_6001_courseInformation.html" class="nav-link"> Course Information </a> </li>
              <li> <a href="USW1_NURS_6001_resourceList.html" class="nav-link"> Resource List </a> </li>
            </ul>
            <ul class="side-nav secondary">
              <li> <a href="USW1_NURS_6001_week01.html" class="nav-link"> Week 1 </a> </li>
              <li> <a href="USW1_NURS_6001_week02.html" class="nav-link"> Week 2 </a> </li>
              <li> <a href="USW1_NURS_6001_week03.html" class="nav-link"> Week 3 </a> </li>
              <li> <a href="USW1_NURS_6001_week04.html" class="nav-link"> Week 4 </a> </li>
              <li> <a href="USW1_NURS_6001_week05.html" class="nav-link"> Week 5 </a> </li>
              <li> <a href="USW1_NURS_6001_week06.html" class="nav-link"> Week 6 </a> </li>
            </ul>
            <ul class="side-nav tertiary">
              <li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_studentSupport.html" class="nav-link"> Student Support </a> </li>
              <li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_waldenLinks.html" class="nav-link"> Walden Links </a> </li>
              <li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_guidelinesPolicies.html" class="nav-link"> Guidelines and Policies </a> </li>
              <li> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" class="button"> Back to Blackboard </a> </li>
              <li> <a href="https://mym.cdn.laureate-media.com/2dett4d/Walden/WCFE/2016/landing_classroom/index.html" target="_blank"> Help </a> </li>
            </ul>
          </nav>
          <!--=========================================================
          BANNER IMAGE & MOBILE 
          ==========================================================-->
          <header class="hero hide-for-print"> <img src="./img/USW1_XXXX_XXXX_courseOverview_heroImage.jpg" alt="medical technology" />
            <nav class="show-for-small fixed"> <em>Currently Reading</em><br />
              <label>NURS 6001: <em>Foundations of Graduate Study</em> | Course Information</label>
              <ul class="hide-for-print week-navigation">
                <li> <a href="#introduction"> Introduction </a> </li>
                <li> <a href="#academic"> Academic Integrity </a> </li>
                <li> <a href="#docSharing"> Doc Sharing </a> </li>
                <li> <a href="#webliography"> Webliography </a> </li>
              </ul>
            </nav>
          </header>
        </header>
        <div class="row">
          <main class="medium-11 large-12 columns medium-centered">
            <article class="course">
              <div class="row small-collapse medium-uncollapse">
                <div class="medium-12 columns">
                  <h1 id="introduction">Course Information</h1>
                  <h3 id="course-rubrics">Course Rubrics</h3>
                   <a href="img/artifacts/USW1_NURS_6001_discussionRubric.doc" title="Discussion Rubric">
                  <blockquote class="cta resources download clickable">
                    <p>Discussion Rubric (Word document)</p>
                    </blockquote>
    </a>
                  <a href="img/artifacts/USW1_NURS_6001_Week05_applicationAssignmentRubric.doc" title="Week 5 Application Assignment Rubric"><blockquote class="cta resources download clickable"> 
                    <p>Week 5 Application Assignment Rubric (Word document)</p>
                    </blockquote>
    </a>
                  <h3 id="course-rubrics">APA Basics</h3>
                  <a href="img/artifacts/USW1_NURS_6001_APABasicsChecklist.pdf" title="APA Basics Checklist" target="_blank"><blockquote class="cta resources back clickable">
                    <p>APA Basics Checklist (PDF)</p>
                    </blockquote>
    </a>
                  <blockquote class="note">
                    <p><small>Photo Credit: Ariel Skelley/Blend Images/Getty Images</small></p>
                  </blockquote>

                  <!--New section
    id="academic"
    -->
                  <hr class="section-break purple" />
                  <h1 id="academic" class="purple">Academic Integrity </h1>
                  <p>Walden University considers academic integrity to be essential for each student&rsquo;s intellectual development. Therefore, students and faculty should familiarize themselves with the university&rsquo;s Code of Conduct, which includes the policy on academic integrity, as outlined in the Walden University Student Handbook (from the main handbook home page, select the &ldquo;University Policies and Code of Conduct&rdquo; tab on the course navigation menu; then select &ldquo;Code of Conduct&rdquo;). You should also be familiar with Walden&rsquo;s Technology Policies (from the main handbook home page, select the &ldquo;Technology Policies&rdquo; tab on the course navigation menu).</p>
                  <p>A violation of academic integrity is any action or attempted action that may result in creating an unfair academic advantage for the student or an unfair academic advantage or disadvantage for any other member or members of the academic community. A violation of academic integrity can include, but is not limited to:</p>
                  <ul>
                    <li><strong>Plagiarism.</strong> Plagiarism is defined as use of intellectual material produced by another person without acknowledging its source. Plagiarism includes using the views, opinions, or insights of another without acknowledgment as well as misuse of your own scholarly work.</li>
                    <li><strong>Cheating.</strong> Cheating is defined as fraud, deceit, or dishonesty in an academic assignment.</li>
                    <li><strong>Providing False Information.</strong> Providing false information includes fabricating or altering information or data and presenting it as legitimate as well as providing false or misleading information to an instructor or any other university staff member.</li>
                    <li><strong>Copyright Violation.</strong> Walden recognizes and respects intellectual property rights and requires all members of the university community to use copyrighted materials in a lawful manner.</li>
                    <li><strong>Misrepresentation of Credentials.</strong> Any statements made and documents supplied by a student or applicant regarding past or current academic programs, degrees, or professional accomplishments must be complete and accurate. </li>
                    <li><strong>Theft or Damage of Property. </strong>Theft or damage of property includes, but is not limited to, obtaining a copy of an assignment or exam prior to its approved release by the faculty member.</li>
                    <li><strong>Alteration of University Documents.</strong> Examples of alteration of university documents include forging the signature of an instructor or university official on a document and submitting an altered transcript of grades.</li>
                  </ul>
                  <p>For more information on and examples of the above violations, as well as the review process for Code of Conduct violations, please refer to the <strong>Walden University Student Handbook</strong>.</p>
                  <a href="http://catalog.waldenu.edu/" title="Walden University Student Handbook" target="_blank"><blockquote class="cta back clickable"> 
                    <p>Walden University Student Handbook</p>
                    </blockquote>
    </a>
                  <h3 id="safeassign-policies">SafeAssign Policies</h3>
                  <p>To review Walden&rsquo;s policy on academic integrity, visit the Code of Conduct in the <strong>Walden University Student Handbook</strong> (from the main handbook home page, select the &ldquo;University Policies and Code of Conduct&rdquo; tab on the course navigation menu; then select &ldquo;Code of Conduct&rdquo;).</p>
                  <p>Thank you for your commitment to and partnership in maintaining academic integrity. Walden&rsquo;s Code of Conduct can be located under &ldquo;University Policies and Code of Conduct&rdquo; of the <strong>Walden University Student Handbook</strong>.</p>
                  <a href="http://catalog.waldenu.edu/" title="Walden University Student Handbook" target="_blank"><blockquote class="cta back clickable"> 
                    <p>Walden University Student Handbook</p>
                    </blockquote>
    </a>
                  <h3 id="safeassign-drafts">SafeAssign Drafts</h3>
                  <p>Within the classroom, students can submit drafts to SafeAssign during a course, to be proactive in checking for potential inadvertent plagiarism issues or incorrect APA-style citations. Please note that this area is for drafts only; and students must submit the final copy of their assignment in the appropriate area in the classroom.</p>
                  <!--Caitie added this -->
                  <p>For more information on how to use SafeAssign and interpret originality reports, please refer to the following resource:</p>
                  <a href="http://mym.cdn.laureate-media.com/2dett4d/software/Walden/Training/Walden_University_Online_Classroom_Tutorial_Student_SafeAssign.pdf" target="_blank" title="SafeAssign Student Tutorial"><blockquote class="cta back clickable"> 
                    <p>SafeAssign Student Tutorial</p>
                    </blockquote>
    </a>
                  <!--End of Caitie edits -->
                  <p>Click the &ldquo;SafeAssign Drafts&rdquo; link below to begin submitting drafts.</p>
                  <a href="#disabled" onclick="ActivateLink('SA.DR1','BBWindow', this)" class="button"><blockquote class="cta assignment back clickable"> 
                    <p>To submit your Safe Assign Draft:</p>
                    <p>SafeAssign Drafts</p>
                    </blockquote>
    </a>

                  <!--New section
    id="docSharing"
    -->
                  <hr class="section-break navy" />
                  <h1 id="docSharing" class="navy">Doc Sharing</h1>
                  <blockquote class="intro">
                    <p>As we collaborate with each other throughout the term, you may wish to support other members of the class by sharing documents or other files. Doc Sharing encourages us to collaborate and help each other to be successful. </p>
                  </blockquote>
                  <p>Click the &ldquo;Doc Sharing&rdquo; link to begin sharing files <em><strong>or</strong></em> return to &ldquo;Course Home&rdquo; from the slide out menu, and then click &ldquo;Doc Sharing&rdquo; from the Blackboard menu!</p>
                  <a href="#disabled" onclick="ActivateLink('DOC.SHARING','BBWindow', this)" class="button"><blockquote class="cta discussion back clickable"> 
                    <p>To participate in Doc Sharing:</p>
                    <p>Doc Sharing</p>
                    </blockquote>
    </a>

                  <!--New section
    id="webliography"
    -->
                  <hr class="section-break gold" />
                  <h1 id="webliography" class="gold">Webliography</h1>
                  <blockquote class="intro">
                    <p>Similar to Doc Sharing, you may wish to share hyperlinks to articles, web pages, presentations, videos, or other items that are already on the Internet. Posting Webliography items is another great way to help each other to be successful.</p>
                  </blockquote>
                  <p>Click the &ldquo;Webliography&rdquo; link to begin sharing hyperlinks <strong><em>or</em></strong> return to &ldquo;Course Home&rdquo; from the slide out menu, and then click &ldquo;Webliography&rdquo; from the Blackboard menu!</p>
                  <a href="#disabled" onclick="ActivateLink('WEBLIOGRAPHY','BBWindow', this)" class="button"><blockquote class="cta discussion back clickable"> 
                    <p>To participate in the Webliography:</p>
                    <p>Webliography</p>
                    </blockquote>
    </a>
                </div>
              </div>
            </article>
          </main>
        </div>
        <a class="exit-off-canvas"></a> </div>
    </div>
</body>