<!--<Sightly Video Component>-->
<div data-sly-use.heroTextObject="com.tavant.cq.kaltura.sightly.SetupKalturaVideoData" data-sly-test="${heroTextObject}"></div>
<p data-sly-test="${properties.isPresent}">
<iframe src=
"http://www.kaltura.com/p/${properties.partnerId}/sp/${properties.partnerId}00/embedIframeJs/uiconf_id/33065512/partner_id/${properties.partnerId}?iframeembed=true&playerId=${properties.id}&entry_id=${properties.id}" width="400" height="330" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0"></iframe>
</p>
