<nav class="small-2 medium-1 small-text-center columns hide-for-print">
	<a href="#menu" role="button" class="right-off-canvas-toggle">☰ <span>Menu</span></a>
</nav>
<nav class="right-off-canvas-menu" id="menu" data-sly-use.rightNavPojo="com.mirum.laureate.content.RightNavPojo">
    <ul class="side-nav header text-right menu-exit">
        <li><span class="right-off-canvas-toggle">×</span> </li>
	</ul>
    <ul class="side-nav header">
		<li><a href="#disabled" onclick="ActivateLink('CourseHome', null, this)">${rightNavPojo.title}</a> </li>
	</ul>
	<ul class="side-nav primary">
        <li><a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" class="back-to-class-home">Back to Blackboard</a></li>
	</ul>
	<ul class="side-nav primary">
        <li data-sly-test="${rightNavPojo.showSyllabus}"><a href="${rightNavPojo.syllabusUrl}.html" class="nav-link">Syllabus</a></li>
		<li> <a href="#disabled" onclick="ActivateLink('Calendar','BBWindow', this)" class="nav-link"> Course Calendar </a> </li>
		<li> <a href="USW1_NURS_6001_courseOverview.html" class="nav-link"> Course Overview </a></li>
		<li> <a href="USW1_NURS_6001_courseInformation.html" class="nav-link"> Course Information </a> </li>
		<li> <a href="USW1_NURS_6001_resourceList.html" class="nav-link"> Resource List </a> </li>
	</ul>
    <ul class="side-nav secondary" data-sly-list.childPage="${rightNavPojo.childPages}">
    <li> <a href="${childPage.path}.html" class="nav-link">${childPage.title}</a> </li>
	</ul>
	<ul class="side-nav tertiary">
		<li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_studentSupport.html" class="nav-link"> Student Support </a> </li>
		<li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_waldenLinks.html" class="nav-link"> Walden Links </a> </li>
		<li> <a href="./html/1_Standard_Documents/1_Current_Documents/USW1_UEF_guidelinesPolicies.html" class="nav-link"> Guidelines and Policies </a> </li>
		<li> <a href="#disabled" onclick="ActivateLink('CourseHome', null, this)" class="button"> Back to Blackboard </a> </li>
		<li> <a href="https://mym.cdn.laureate-media.com/2dett4d/Walden/WCFE/2016/landing_classroom/index.html" target="_blank"> Help </a> </li>
	</ul>
</nav>